.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2.5fr 0.4fr 0.1fr;
    grid-template-areas: "nav nav nav nav"
    "sidebar main main main" "sidebar footer footer footer";
}

nav{
    background-color: aqua;
    grid-area: nav;
}
.style{
    list-style-type: none;
    display: flex;
}
a{
    text-decoration: none;
}
.style{
    margin: 20px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
.sidebar{
    background-color: blueviolet;
    grid-area: sidebar;
}
footer{
    background-color: rgb(241, 114, 10);
    grid-area: footer;
}